In [1]:
import numpy as np 
import pandas as pd 
from sklearn.datasets import fetch_california_housing

In [2]:
housing = fetch_california_housing()

In [3]:
df = pd.DataFrame(housing.data , columns = housing.feature_names)

In [4]:
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [5]:
df['MedHouseVal'] = housing.target

In [6]:
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [9]:
x = df.drop(df[['MedHouseVal']],axis=1)
y = df['MedHouseVal']

In [10]:
x

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25
...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24

In [11]:
y

0        4.526
1        3.585
2        3.521
3        3.413
4        3.422
         ...
20635    0.781
20636    0.771
20637    0.923
20638    0.847
20639    0.894
Name: MedHouseVal, Length: 20640, dtype: float64

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.3,random_state=42)

In [16]:
x_train.shape , x_test.shape , y_train.shape , y_test.shape

((14448, 8), (6192, 8), (14448,), (6192,))

In [12]:
from sklearn.linear_model import LinearRegression

In [13]:
regressor = LinearRegression()

In [17]:
regressor.fit(x_train,y_train)

LinearRegression()

In [18]:
y_pred = regressor.predict(x_test)

In [19]:
from sklearn.metrics import mean_squared_error

In [22]:
mse =  mean_squared_error(y_test,y_pred)

In [23]:
rmse = np.sqrt(mse)

In [24]:
rmse

0.7284008391515451

In [30]:
regressor.predict([[8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23]])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([4.14333478])

# BOSTON

In [193]:
from sklearn.datasets import load_boston

In [194]:
import pandas as pd

In [195]:
df = pd.read_csv("C:\\Users\\Khan Mokhit\\Downloads\\housing.csv")

In [196]:
df.head()

      RM  LSTAT  PTRATIO      MEDV
0  6.575   4.98     15.3  504000.0
1  6.421   9.14     17.8  453600.0
2  7.185   4.03     17.8  728700.0
3  6.998   2.94     18.7  701400.0
4  7.147   5.33     18.7  760200.0

In [197]:
x = df.drop(df[["MEDV"]],axis=1)

In [198]:
x

        RM  LSTAT  PTRATIO
0    6.575   4.98     15.3
1    6.421   9.14     17.8
2    7.185   4.03     17.8
3    6.998   2.94     18.7
4    7.147   5.33     18.7
..     ...    ...      ...
484  6.593   9.67     21.0
485  6.120   9.08     21.0
486  6.976   5.64     21.0
487  6.794   6.48     21.0
488  6.030   7.88     21.0

[489 rows x 3 columns]

In [199]:
y = df['MEDV']

In [200]:
y

0      504000.0
1      453600.0
2      728700.0
3      701400.0
4      760200.0
         ...
484    470400.0
485    432600.0
486    501900.0
487    462000.0
488    249900.0
Name: MEDV, Length: 489, dtype: float64

In [201]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler

In [202]:
x_train ,x_test, y_train , y_test = train_test_split(X_scaled,y,test_size=0.2 , random_state=42)

In [203]:
x_train.shape , y_train.shape , x_test.shape , y_test.shape

((391, 3), (391,), (98, 3), (98,))

In [204]:
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

In [205]:
regressor = LinearRegression()

In [206]:
regressor.fit(x_train,y_train)

LinearRegression()

In [207]:
y_pred = regressor.predict(x_test)

In [208]:
mse = mean_squared_error(y_test,y_pred)

rmse = np.sqrt(mse)

In [210]:
rmse

82395.54332162565

## Wine

In [225]:
df = pd.read_csv("C:\\Users\\Khan Mokhit\\My Drive\\winequality-red.csv")

In [226]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [228]:
x = df.drop(df[['quality']],axis=1)

In [229]:
x

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0

In [230]:
y = df['quality']

In [231]:
y

0       5
1       5
2       5
3       6
4       5
       ..
1594    5
1595    6
1596    6
1597    5
1598    6
Name: quality, Length: 1599, dtype: int64

In [233]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression

In [234]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3 , random_state=42)

In [235]:
x_train.shape,x_test.shape , y_train.shape , y_test.shape

((1119, 11), (480, 11), (1119,), (480,))

In [236]:
scaler = StandardScaler()

In [237]:
x_train = scaler.fit_transform(x_train)

In [238]:
x_test = scaler.transform(x_test)

In [239]:
regressor = LinearRegression()

In [240]:
regressor.fit(x_train,y_train)

LinearRegression()

In [241]:
y_pred = regressor.predict(x_test)

In [242]:
mse = mean_squared_error(y_test,y_pred)

In [243]:
rmse = np.sqrt(mse)

In [244]:
rmse

0.6412759715991388

In [245]:
regressor.predict([[7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4]])

array([5.43111641])